$font-stack:    Helvetica, sans-serif;
$primary-color: #212121;
$color-block: #000000;
$color-yellow: #FFEB3B;
$text-color: #9E9E9E;
$time :5s;
$item-wigth:50px;
$container-width:765px;
$gap: 15px;
$size-text:1.5em;
$offess: 50px;